{
  "extends": [
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard",
    "airbnb-base"
  ],
  "plugins": ["prettier"],
  "ecmaFeatures": {
    "classes": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "extensions": [".js"]
      }
    },
    "import/extensions": [".js"]
  },
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": "off",
    "global-require": "off",
    "no-console": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-underscore-dangle": "off",
    "prefer-promise-reject-errors": "off",
    "no-nested-ternary": "off",
    "react/no-multi-comp": "off",
    "linebreak-style": "off",
    "react/prefer-stateless-function": "off",
    "comma-dangle": "off",
    "operator-linebreak": "off",
    "func-names": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off"
  }
}
